body{
  background-color: #fff2e6;
}
.text1 {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.text2 {
  position: absolute;
  top: 91%;
  left: 39.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.text3 {
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.text4 {
  position: absolute;
  top: 91%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.card-body {
  padding: 0.5rem 0.5rem
}

.text5 {

  font-size: 12px;
  text-decoration: none;
  color: black;

}

.btn1 {
  position: absolute;
  top: 72%;
  left: 44%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.btn2 {
  position: absolute;
  top: 72%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.btn3 {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}




@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


.text-effect2 {
  border-right: solid 5px rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
  font-size: 18px;
  color:black;
  font: italic;
  text-shadow: 1px 1px orange;
  text-align: center;

}

/* Animation */
.text-effect2 {
  animation: animated-text 4s linear 1s 1 normal both,
             animated-cursor 600ms linear infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0px;}
  to{width: 1145px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: orange;}
  to{border-right-color: transparent;}
}


span {

  	font: 80px "Oswald", sans-serif;
  	letter-spacing: 0;
  	/* padding: .25em 0 .325em; */
	  display: block;
	  margin: 0 auto;

/* Clip Background Image */

	  background: url("../static/images/line.jpg") repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}